@charset "UTF-8";


img.logo {
	margin-top: 10px;
}

body {
	color: #F97709;
	background-color: #000000;
	text-align: center;
}

main{
	margin: auto;
}

h2{
	margin: 10px 0px;
	font-size: 40px
}

h3{
	margin: 10px 0px;
}


.photo{
	margin-top: 10px;
	width: 50%;
	height: 50%;
}
/*
.goods{
	display: flex;
	flex-direction: row;
	justify-content: center;
}*/

img.player{
	width: 150px;
	height: 180px;
}

/*h2{
	text-align: center;
}*/

/* menuレイアウト */
.menu li{
	list-style-type: none;
	display: inline-block;
	width: 140px;
	margin: 0 5px;
}

.menu a{
	display: block;
	padding: 5px;
	background: #F97709;
	border-radius: 8px;
	color: #000000;
	text-decoration: none;
	font-family: Pacifico;
}

.menu a:hover{
	background: #000000;
	color: #F97709;
}

/* TOP画面の順位表テーブル */
.tb1 {
	width: 70%;
	margin: auto;
	border: 5px solid #ffffff;
	border-collapse: collapse;
	text-align: center;
	clear: both;
}
.tb1 a:hover{
	background: #c0c0c0;
}

.tb2{
	margin: auto;
	width: 30%;
	border: 5px solid #ffffff;
	border-collapse: collapse;
}
.tb2 a:hover{
	background: #c0c0c0;
}

.tb3{
	margin: auto;
	width: 170px;
	border: 5px solid #ffffff;
	border-collapse: collapse;
}


.floatleft{
	width: 60px;
	height: 72px;
}
.record{
	width: 75%;
}
.playerlist{
	float:left;
	margin-left: 80px;
	background-color: #000000;
}
.playerlist a{
	color: #ffffff;
}
footer{
	clear:both;
}
